<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom box-shadow mynav">
  <img src="http://www.lapazbus.bo/libs/images/logo.png" alt="la paz bus logo">
  <h5 class="my-0 mr-md-auto font-weight-normal"></h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2" href="#">Noticias y Comunicados</a>
    <a class="p-2" href="#">Nuestro Sistema</a>
    <a class="p-2" href="#">Atención al Ciudadano</a>
    <a class="p-2" href="#">Historia</a>
    <a class="p-2" href="#">Galería Multimedia</a>
  </nav>
</div>